@using Microsoft.AspNetCore.Identity
@using ZyronChatWebApp.Models

@model ZyronChatWebApp.Models.Messages


@{
    ViewData["Title"] = "Your list of contacts";
    ViewBag.ChatMessage = Model;
}

 <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            
            <div class="col-4"><input type="hidden" value="@ViewBag.UserToSend" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <div class="fs-2 mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"></path>
              </svg>
               <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" />
            </div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>


        

          

          
       
@if(@ViewBag.AllMessages != null){
    <!-- Message Box -->
    <div class="overflow-scroll">
        <div class="row message" id="conversation">

       
                @foreach (Messages Message in ViewBag.AllMessages)
                    {
                        
                                @if(User.Identity.Name != Message.Sender){
                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                          <div class="receiver">
                                              <div class="alert alert-secondary bg-dark" role="alert">
                                                  <p class="text-start text-light fs-4">@Message.Message</p>
                                                  <h6><span class="text-light badge-start badge-pill badge-primary">@Message.DateSended</span> </h6>
                                                </div>
                                        
                                          </div>
                                        </div>
                                      </div>
                                 
                     
              
            
                                }else{
                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                          <div class="sender">
                                            <div class="alert alert-success" role="alert">
                                                <p class="text-end fs-4">@Message.Message</p>

                                                <div class="position-absolute bottom-0 end-0">

                                                    <h6><span class="badge-end badge-pill badge-primary">@Message.DateSended</span> </h6>

                                                </div>
                                                    
                                                    
                                                
                                               
                                            </div>
                                          </div>
                                        </div>
                                     </div>
                                 
                                }
                 
        

                    }
        </div>
    </div>
}else{
    <figure class="text-center">
      <blockquote class="blockquote">
        <h4>Você ainda não trocou mensagens com esse contato</h4>
      </blockquote>
      <figcaption class="blockquote-footer">
        A solidão é um caminho válido, porém árduo.
      </figcaption>
 </figure>
}



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatprivate.js"></script>
